.App {
  text-align: center;
  background-color: #3281D0;
  background-image: url("./img/ping-pong.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2vw;
}

.list {
  height: 80vh;
}

.App-title {
  font-size: 1.5em;
  color: #fff;
}

.App-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

